@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;700&family=Saira:wght@300;400&display=swap');

/*
font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

header {
    position: relative;
    height: 100vh;
    background-color: #29a6dc;
    overflow: hidden;
}

header img.me {
    position: absolute;
    height: 50%;
    bottom: 0;
    right: 0;
}

header div.welcome {
    position: absolute;
    top: 7%;
    left: 10%;
    right: 10%;
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

header div.welcome p {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 4rem;
}

header div.welcome h1 {
    margin-top: 15px;
}

header div.welcome h1,
header div.welcome h2 {
    font-family: 'saira condensed', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.3;
}

header div.welcome h2 {
    font-weight: normal;
    letter-spacing: 1px;
}

header div.welcome button.more-about {
    padding: 0 20px;
    margin-top: 45px;
    border: 1px solid white;
    background-color: transparent;
    font-family: 'saira', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 3.2rem;
    color: white;
    text-transform: uppercase;
}

@media (orientation: portrait) and (min-width: 360px) {
    header img.me {
        right: -7%;
    }

    header div.welcome p {
        font-size: 6rem;
    }

    header div.welcome h1 {
        font-size: 2.5rem;
    }

    header div.welcome h2 {
        font-size: 2.5rem;
        letter-spacing: normal;
    }

    header div.welcome button.more-about {
        font-size: 1.5rem;
        line-height: 4rem;
    }
}

@media (orientation: landscape) {
    header img.me {
        height: 85%;
        right: -7%;
    }

    header div.welcome {
        top: 16%;
        left: 5%;
        right: 45%;
    }

    header div.welcome button.more-about {
        margin-top: 47px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {

    header div.welcome p {
        font-size: 6.2rem;
    }

    header div.welcome h1,
    header div.welcome h2 {
        font-size: 2.6rem;
    }

    header div.welcome button.more-about {
        font-size: 1.6rem;
        border: 2px solid white;
        line-height: 4rem;
    }
}



section {
    min-height: 100vh;
}
