@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;700&family=Saira:wght@300;400&display=swap');

/*
font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

header {
    position: relative;
    height: 100vh;
    background-color: #29a6dc;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

header img.me {
    position: absolute;
    height: 50%;
    bottom: 0;
    right: 0;
    z-index: 0;
}

header div.welcome {
    position: absolute;
    top: 7%;
    left: 10%;
    right: 10%;
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    z-index: 1;
}

header div.welcome p {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 4rem;
}

header div.welcome h1 {
    margin-top: 15px;
}

header div.welcome h1,
header div.welcome h2 {
    font-family: 'saira condensed', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.3;
}

header div.welcome h2 {
    font-weight: normal;
}

header div.welcome button.more-about {
    padding: 0 20px;
    margin-top: 45px;
    border: 1px solid white;
    background-color: transparent;
    font-family: 'saira', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 3.2rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

@media (orientation: portrait) and (min-width: 360px) {
    header img.me {
        right: -7%;
    }

    header div.welcome p {
        font-size: 6rem;
    }

    header div.welcome h1 {
        font-size: 2.5rem;
    }

    header div.welcome h2 {
        font-size: 2.5rem;
    }

    header div.welcome button.more-about {
        font-size: 1.6rem;
        line-height: 4rem;
    }
}

@media (orientation: portrait) and (min-width: 375px) {
    header img.me {
        right: -25%;
    }

    header div.welcome button.more-about {
        font-size: 1.6rem;
        line-height: 4rem;
        margin-top: 62px;
    }
}

@media (orientation: portrait) and (min-width: 410px) {
    header img.me {
        right: -15%;
    }

    header div.welcome p {
        font-size: 6.8rem;
    }

    header div.welcome h1 {
        font-size: 3.3rem;
    }

    header div.welcome h2 {
        font-size: 2.9rem;
    }

    header div.welcome button.more-about {
        font-size: 1.9rem;
        line-height: 4.8rem;
        margin-top: 55px;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    header div.welcome p {
        font-size: 8rem;
    }

    header div.welcome h1 {
        font-size: 4rem;
    }

    header div.welcome h2 {
        font-size: 4rem;
    }

    header div.welcome button.more-about {
        font-size: 2.7rem;
        line-height: 5.5rem;
        margin-top: 85px;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    header div.welcome p {
        font-size: 10rem;
    }

    header div.welcome h1 {
        font-size: 5rem;
    }

    header div.welcome h2 {
        font-size: 5rem;
    }

    header div.welcome button.more-about {
        font-size: 3.5rem;
        line-height: 7rem;
        margin-top: 105px;
    }
}

@media (orientation: landscape) {
    header img.me {
        height: 80%;
        right: -7%;
    }

    header div.welcome {
        top: 16%;
        left: 5%;
        right: 45%;
    }

    header div.welcome button.more-about {
        margin-top: 47px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {

    header div.welcome p {
        font-size: 6.2rem;
    }

    header div.welcome h1,
    header div.welcome h2 {
        font-size: 2.6rem;
    }

    header div.welcome button.more-about {
        font-size: 1.6rem;
        line-height: 4rem;
    }
}

@media (orientation: landscape) and (min-width: 768px) {
    header div.welcome {
        top: 13%;
    }

    header div.welcome h1 {
        margin-top: 30px;
    }

    header div.welcome button.more-about {
        margin-top: 60px;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    header div.welcome {
        left: 7%;
        top: 16%;
        text-align: left;
    }

    header img.me {
        right: -11.5%;
        height: 85%;
    }

    header div.welcome p {
        font-size: 7rem;
    }

    header div.welcome h1,
    header div.welcome h2 {
        font-size: 4rem;
    }

    header div.welcome h1 {
        margin-top: 50px;
    }

    header div.welcome button.more-about {
        font-size: 2.8rem;
        line-height: 5.5rem;
        margin-top: 150px;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
    header img.me {
        height: 85%;
        right: -10%;
    }

    header div.welcome p {
        font-size: 9rem;
    }

    header div.welcome h1,
    header div.welcome h2 {
        font-size: 5rem;
    }

    header div.welcome h1 {
        margin-top: 90px;
    }

    header div.welcome button.more-about {
        font-size: 3rem;
        line-height: 8rem;
        margin-top: 150px;
    }

    header div.welcome button.more-about:hover {
        background-color: rgb(255, 255, 255);
        color: #111;
    }
}

@media (orientation: landscape) and (min-width: 1440px) {
    header img.me {
        height: 90%;
        right: -7%;
    }

    header div.welcome {
        left: 8%;
    }

    header div.welcome p {
        font-size: 12rem;
    }

    header div.welcome h1,
    header div.welcome h2 {
        font-size: 6rem;
    }

    header div.welcome h1 {
        margin-top: 80px;
    }

    header div.welcome button.more-about {
        font-size: 3.6rem;
        line-height: 9rem;
        margin-top: 120px;
        transition: 0.3s;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {
    header img.me {
        height: 95%;
        right: 0;
    }

    header div.welcome {
        left: 7%;
    }

    header div.welcome p {
        font-size: 12rem;
    }

    header div.welcome h1,
    header div.welcome h2 {
        font-size: 6rem;
    }

    header div.welcome h1 {
        margin-top: 80px;
    }

    header div.welcome button.more-about {
        font-size: 3.6rem;
        line-height: 9rem;
        margin-top: 120px;
        transition: 0.3s;
    }
}

section {
    min-height: 100vh;
}
